// _pageTitle.scss

.page-title {
  background-color: $light;
  &--dark {
    background-color: $dark;
    color: $light;
  }
  &__container {
    @extend %container;
    padding: 62px 16px 32px 16px;
  }
  &__title {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 8px;
  }
  &__subTitle {
    font-size: 28px;
    font-weight: 400;
  }
}
