$primary: #f06543;
$secondary: #23ce6b;
$dark: #212227;
$light: #f6f8ff;
$black: #000000;
$white: #ffffff;

// spacing
$sp: 4px;
$sp-md: 8px;
$sp-lg: 12px;
$sp-xl: 16px;
$sp-xxl: 20px;
$sp-max: 24px;

// radius
$rounded: 4px;
$rounded-md: 8px;
$rounded-lg: 12px;

// grid
$container-max-width: 1200px;
