import React from 'react';
import { ITestId } from '../../shared/TestId';

export interface I{{pascalCase name}}Props extends ITestId  {
  prop: string;
}

export const {{pascalCase name}} = ({ prop, testID }: I{{pascalCase name}}Props) => {
  return <div data-testid={testID}>{prop}</div>;
};