import React from 'react';

export interface I{{pascalCase name}}Props extends ITestId  {
  prop: string;
}

export const {{pascalCase name}} = ({ prop, testID }: I{{pascalCase name}}Props) => {
  return <div data-testID={testID}>{prop}</div>;
};