@mixin get-color-yiq($background) {
  $r: red($background);
  $g: green($background);
  $b: blue($background);

  $yiq: calc((($r * 299) + ($g * 587) + ($b * 114)) / 1000);

  @if ($yiq >= 128) {
    color: $dark;
  } @else {
    color: $light;
  }
}
